body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 768px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 100%;
}

form button,
form input {
  padding: 5px;
  border: 2px solid #666;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

form input {
  border-right: none;
}

form button {
  cursor: pointer;
  max-width: 80px;
}

form button:hover {
  background: #f8ffb1;
}

.user {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px #e4e4e4;
}

.user-img,
.user-desc {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.user-img {
  max-width: 100px;
}

.user-img img {
  width: 90px;
}

.user-desc h3 {
  margin: 0;
  margin-bottom: 5px;
  color: #2196f3;
}

.user-desc b {
  color: #000;
}

.user-desc span {
  margin-bottom: 5px;
  color: #666;
}
